h3{
    margin-left: 300px;
}
textarea{
    resize: none;
    margin-left: 222px;
}
button{
    margin-left: 385px;
}
#input{
    padding-left: 200px;
}
footer {
    position: absolute;
}
