

body {font-family: Verdana, Helvetica, sans-serif;}

.outline
{
    border: 4px solid #AFEEEE;
}

h2
{
    text-align: center;
    font-family: Helvetica;
    color: darkblue;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 3px solid #ccc;
    -webkit-transition:0.5s;
    outline:none;
    box-sizing: border-box;
}
/*visual effect when clicking on input field*/
input:focus
{
    background-color: lightskyblue;
    border: 3px solid #555;
}

button {
    background-color: #20B2AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
    font-style: oblique;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}

</style>
</head>
<body>