body
{
    font-family: Verdana, Helvetica, sans-serif;
    border-style: solid;
    border-color: #DCDCDC;
}

h2
{
    text-align:center;

}
.borderline
{  
    text-align:left;
    border-style: solid;
    border-color: darkgrey;
    border-width: 0.5px;
    height:9.4%;
    width:12%;
}

.signup {
  float: left;
  width: 100%;
  background-color: #20B2AA;
}

.container {
    padding: 16px;
}

.clear::after {
    /*adds extra white space at bottom of form */
    content: "";
    clear: both;
    display: table;
}

.spin_off::-webkit-inner-spin-button, .spin_off::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

**
{
    box-sizing: border-box /*restrict horizontal scrolling*/
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    -webkit-transition:0.5s;
}



input[type=text]:focus, input[type=password]:focus {
    background-color: lightskyblue;

}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:2;
    font-style: oblique;
}
