body
{
	margin: 0px;
}

#syallbus{
	padding-left: 200px;
}
h2{
	text-align:center;
}
.center{
	text-align:center;
}
.button
{
	width: 10%;
	margin:auto;
	display:block;
	background-color: lightskyblue;
	border: none;
	color: darkblue;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	font-family: courier;
	-webkit-transition-duration: 0.315s; /*transition duration from one color to next*/
	transition-duration: 0.315s;

}
.button:hover
{
	background-color: darkcyan;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.14), 0 10px 25px 0 rgba(0,0,0,0.10)
}

.button1
{
	/*rounded syllabus button*/
	border-radius: 100%;
}
footer{
	position: absolute;
}